.outerwrapper {
  padding-bottom: 20px;
  height: 100%
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  border: #111 solid 2px;
  margin: 0;
  height: 100%;
  padding: 20px;
}

.name {
  font-size: 1.3rem;
  margin: 0;
}

.name:hover {
  cursor: pointer;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: #111 solid 2px;
  margin-bottom: 8px;
  background-color: #111;
}

.link {
  text-decoration: none;
  color: black;
}

.a {
  font-size: 0.9rem;
  display: block;
  color: #111;
  padding: 14px;
  text-decoration: none;
}

.a:hover {
  background: #111;
  border-radius: 10px;
  color: white;
}