.outerwrapper {
  padding-bottom: 20px;
  height: 100%
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: #111 solid 2px;
  margin: 0;
  height: 100%;
  padding: 20px;
}

.wrapper:hover {
  background: #f2f2f2;
}

.name {
  font-size: 1.3rem;
  margin: 0;
  padding: 5px 0;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: #111 solid 2px;
  margin-bottom: 8px;
  background-color: #111;
}

.badge {
  font-size: 0.7rem;
  padding: 1px;
}

.badge_free {
  color: green;
}

.badge_os {
  color: gray;
}

.badge_freemium {
  color: orange;
}

.badge_paid {
  color: red;
}