.outerwrapper {
  padding-bottom: 20px;
  height: 100%
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: #111 solid 2px;
  margin: 0;
  height: 100%;
  padding: 20px;
}

.wrapper:hover {
  background: rgba(17, 17, 17, 0.088);
  border-radius: 10px;
  color: white;
}

.name {
  font-size: 1.3rem;
  margin: 0;
  padding: 5px 0;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: #111 solid 2px;
  margin-bottom: 8px;
  background-color: #111;
}