@font-face {
  font-family: 'CarosMedium';
  src: url('../assets/Caros-Medium.otf');
}

@font-face {
  font-family: 'UbuntuRegular';
  src: url('../assets/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'CarosRegular';
  src: url('../assets/Caros.otf');
}

@font-face {
  font-family: 'CarosBold';
  src: url('../assets/Caros-Bold.otf');
}

@font-face {
  font-family: 'CarosExtraBold';
  src: url('../assets/Caros-ExtraBold.otf');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: CarosRegular, sans-serif;
}

h1 {
  font-family: CarosExtraBold, sans-serif;
}

h2, h3, h4 {
  font-family: CarosBold, sans-serif;
}