.wrapper {
  height: 100%;
}

.image_wrapper {
  background-color: #ffd52c;
  border-radius: 12px;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.left_col h1 {
  font-size: 4rem;
}

.right_col {
  padding: 40px;
}