.link_wrapper {
  margin-bottom: 5px;
}

.link_wrapper_home {
  margin: 20px 0;
}

.category {
  padding-left: 16px;
}

.a {
  font-size: 0.85rem;
  display: block;
  color: #111;
  padding: 14px;
  text-decoration: none;

  svg {
    vertical-align: bottom;
  }
}

.a:hover:not(.active) {
  border: #111 dashed 2px;
  border-radius: 10px;
  color: #111;
  padding: 12px;
}

.active {
  background-color: #111;
  color: white;
  border-radius: 10px;
  font-family: CarosExtraBold, sans-serif;
}

.active:hover {
  color: white;
}

.outer_ul {
  list-style: none;
  padding-left: 0;
}

.inner_ul {
  list-style: none;
  padding-left: 0;
}