.overlay_wrapper {
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  position: fixed;
}

.inner_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.header {
  background: rgba(255, 255, 255, 0.5);
  height: 45px;
}

.headline {
  text-align: center;
  padding: 0;
}